
.buto{
    background-color: coral;
    color: black;
}

.nav-tabs > li > a {
  color: #575757;
}

.nav-tabs > li.active > a {
  color: #3c5a78;
  font-size: 16px;
}

.c1{
    height:50rem;
}